/* Centering just the form */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

/* Styling for the login form */
.login {
    width: 300px; /* Width of the form */
    padding: 20px; /* Inner padding */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text within form */
}

/* Other input and button styles */
.log, .log1 {
    margin-bottom: 15px;
    text-align: left;
}

.input {
    width: 100%; /* Full width of input */
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #4d86aa;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #68100d;
}

h4 {
    margin-top: 20px;
    font-size: 0.9em;
}

h4 a {
    color: #4d86aa;
    text-decoration: none;
}

h4 a:hover {
    color: #68100d;
    text-decoration: underline;
}
