.signup{
    border: none;
    border-radius: 10px;
    background-color: #68100d;
    width: 40%;
    color: #595b5c;
}h2{
    text-align: center;
    color: rgb(47, 219, 162);
}
.sign1{
   margin: 10px;
   text-align: left;

}.sign2{
    margin: 10px;
    text-align: start;
}.sign3{
    margin: 10px;
    text-align: start;
}
label{
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}input{
    width: 40%;
    height: 30px;
    border-radius: 5px;
    border: 0.2px solid darkgray;
    margin-bottom: 10px;
}
.btn-signup{
    width: 20%;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(47, 219, 162);
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 10px;
    margin-bottom: 15px;
    
}.btn-signup:hover{
    background-color: #595b5c;

}